.customer-detail {
  &__header {
    transition: ease 0.2s width;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 6rem;
    background-color: #fff;
    box-shadow: $boxShadowMenu;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    > div {
      font-size: 1.8rem;
      cursor: pointer;
      border-left: 2px solid #f4f5f6;
      width: 15%;
      height: 100%;
      padding: 1.5rem 0;
      text-align: center;
      &:nth-child(1) {
        width: 20%;
        text-align: start;
        border: none;
      }
      .ant-dropdown-menu-item {
        padding: 1rem;
        text-align: center;
        font-size: 1.6rem;
        color: #5e6266;
      }
    }
  }
  &__profile {
    padding: 3rem;
    > .ant-col {
      height: calc(100vh - 15rem);
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;
    }
    .info-block {
      background-color: white;
      padding: 3rem;
      border-radius: 6px;
      margin-bottom: 2rem;
      min-height: 25rem;
      &__header {
        color: #2d3742;
        font-size: 2rem;
        margin-bottom: 1.2rem;
        font-weight: 700;
        position: relative;
      }
      &__info {
        font-weight: 500;
        margin-bottom: 1.2rem;
        width: 100%;
        font-size: 1.6rem;
        color: #2d3742;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        > span {
          font-size: 1.6rem;
          border-radius: 2rem;
          border: 2px solid #aeb8c7;
          padding: 0.5rem 1.5rem;
          margin: 0 1rem 1rem 0;
        }
      }
      &__title {
        color: #86898c;
        font-size: 1.2rem;
        line-height: 2.4rem;
      }
      img {
        width: auto;
        margin: 1rem auto;
        display: block;
        max-height: 40rem;
        cursor: pointer;
      }
      .ant-checkbox-wrapper {
        margin: 1rem 0;
        display: flex;
        align-items: center;
        width: 100%;
        .ant-checkbox + span {
          display: flex;
          width: 100%;
          > span {
            width: 15rem;
          }
          > input {
            width: 95%;
            border: none;
            border-bottom: 1px solid #afb1b3;
          }
        }
      }
      .ant-collapse {
        background-color: transparent;
        border: none;
        > .ant-collapse-item {
          border: none;
          position: relative;
          .ant-collapse-content {
            border: none;
          }
          .ant-collapse-header {
            font-size: 1.6rem;
            font-weight: bold;
          }
          .active-status {
            position: absolute;
            top: 1rem;
            right: 1rem;
            padding: 5px 15px;
            border-radius: 100px;
            text-transform: capitalize;
            font-size: 1.4rem;
            font-weight: 500;
            &.verified {
              background: #e9efff;
              color: #0a65ff;
            }
            &.not {
              background: #ece7e7;
              color: #131212;
            }
            &.problem {
              background: #fff9f1;
              color: #ffaa2c;
            }
          }
        }
      }
      &-action {
        margin: 2rem 0;
        display: flex;
        justify-content: flex-end;
        button {
          border-radius: 0;
          width: 20rem;
          margin: 0 2rem;
        }
      }
    }
  }
}
