.layout {
  &__sider {
    height: auto;
    position: relative;
    left: 0;
    z-index: 102;
    &-trigger {
      width: 6.4rem;
      color: #aeb8c7;
      font-size: 2.8rem;
      line-height: 6.4rem;
      cursor: pointer;
      transition: color 0.3s;
      height: 5rem;
    }
    &--logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      margin: 1rem;
      img {
        height: 100%;
      }
      span {
        color: $appBase;
        font-weight: 600;
        font-size: 2rem;
        margin-left: 1.6rem;
      }
    }
    &--user {
      background-color: $grayBase;
      width: 95%;
      height: 7.2rem;
      margin: auto;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ant-card-meta {
        padding: 1rem;
        .ant-avatar {
          height: 4rem;
          width: 4rem;
        }
        .ant-card-meta-title {
          margin-bottom: 0;
        }
        .ant-card-meta-description {
          font-size: 1.2rem;
        }
      }
      &--trigger {
        cursor: pointer;
        margin-right: 1rem;
      }
    }
  }

  &__menu {
    width: 32rem;
    box-sizing: border-box;
  }

  &__header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-label {
      color: $appBaseDark;
      margin-left: 2rem;
      font-size: 3rem;
      text-transform: capitalize;
      user-select: none;
      font-weight: 600;
    }
    .ant-badge {
      margin: 1.5rem;
      margin-right: 3rem;
      .anticon-message {
        height: 3rem;
        font-size: 2.5rem;
        color: $appBaseDark;
        cursor: pointer;
      }
    }
  }

  .custom-delete-confirm {
    .ant-modal-content {
      padding: 6rem 8rem 5rem;
      width: 58rem;
      height: 55rem;
      .ant-modal-body {
        padding: 0;
        .ant-modal-confirm-content {
          > div {
            height: 32rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            > h1 {
              font-size: 3.6rem;
              color: #171725;
              font-weight: bold;
            }
            > p {
              color: #272b2f;
              font-size: 2rem;
              text-align: center;
            }
          }
        }
        .ant-modal-confirm-btns {
          display: flex;
          width: 100%;
          justify-content: space-between;
          > button {
            background-color: transparent;
            box-shadow: none;
            width: 50%;
            padding: 1rem;
            height: 4.8rem;
            border-radius: 6px;
            border: none;
            &:first-child {
              border: 1px solid #171725;
              background-color: #ffffff;
            }
            &:last-child {
              background-color: #dc4d4d;
            }
            > span {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
  .ant-layout + div {
    z-index: 10001;
  }
}

/* auth */
@import "../../app/components/Auth/Auth.scss";

/* common */
@import "../../app/components/NotFound/NotFound.scss";
@import "../../app/components/CustomButton/CustomButton.scss";
@import "../../app/components/FloatingButton/FloatingButton.scss";
@import "../../app/components/CustomListCard/CustomItemCard.scss";
@import "../../app/components/CustomListing/CustomLlisting.scss";

/* module*/
@import "../../app/modules/customer/Customer.scss";
