$grayTag: #7d8596;

$orangeLighterTag: #facf57;

$orangeLightTag: #f7ab2f;

$orangeTag: #f56837;

$redTag: #f84948;

$pinkTag: #ff7898;

$greenTag: $appBase;

$cyanTag: #21ddd2;

$blueTag: #2b94f8;

$purpleTag: #6658f3;
